:root {
    /*
    reference: https://stephango.com/flexoki
    */

    --paper: #fffcf0;
    --base-50: #f2f0e5;
    --base-100: #e6e4d9;
    --base-150: #dad8ce;
    --base-200: #cecdc3;
    --base-300: #b7b5ac;
    --base-400: #9f9d96;
    --base-500: #878580;
    --base-600: #6f6e69;
    --base-700: #575653;
    --base-800: #403e3c;
    --base-850: #343331;
    --base-900: #282726;
    --base-950: #1c1b1a;
    --black: #100f0f;

    --red-600: #af3029;
    --orange-600: #bc5215;
    --yellow-600: #ad8301;
    --green-600: #66800b;
    --cyan-600: #24837b;
    --blue-600: #205ea6;
    --purple-600: #5e409d;
    --magenta-600: #a02f6f;

    --red-400: #d14d41;
    --orange-400: #da702c;
    --yellow-400: #d0a215;
    --green-400: #879a39;
    --cyan-400: #3aa99f;
    --blue-400: #4385be;
    --purple-400: #8b7ec8;
    --magenta-400: #ce5d97;
}

body {
    background-color: var(--black);
    color: var(--base-300);
}

h1 {
    font-size: 2.25em;
    color: var(--magenta-400);
}

h2 {
    font-size: 1.75em;
    color: var(--purple-400);
}

h3 {
    font-size: 1.25em;
    color: var(--blue-400);
}

li {
    background-color: var(--black);
    color: var(--base-300);
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

a {
    color: var(--blue-400);
    text-decoration: underline;
}
a:visited {
    color: var(--purple-400);
}

details {
    margin-bottom: 1em;
    padding: 0.4em;
    border: solid;
    border-width: 0.1em;
}

summary {
    font-size: 1.75em;
    font-weight: bold;
    color: var(--magenta-400);
    list-style: none;
    display: flex;
    align-items: center;

    &::after {
        content: ">";
        color: var(--base-800);
        font-size: 0.57em;
        padding: 0 5px;
        margin-inline-start: 4px;
        transition: text-shadow 0.1s ease-in-out;
    }

    &:hover::after {
        text-shadow: 0 0 10px var(--base-600);
    }

    [open] &::after {
        content: "|";
        font-family: monospace;
    }
}

@media (prefers-color-scheme: light) {
}
